<div>
  <form action="/trips/{{trip.id}}/events" method="post">

    <legend>New Event</legend>

    <div class="form-group">
      <label for="event-title">Event Name</label>
      <input type="text" name="name" class="form-control" id="event-title" placeholder="e.g. Eiffel Tower">
    </div>

    <div class="form-group">
      <label for="event-desc">Description</label>
      <input type="text" name="desc" class="form-control" id="event-desc">
    </div>

    <div class="form-group">
      <label for="event-date">Date</label>
      <input type="text" name="date" class="form-control" id="event-date">
    </div>

    <div class="form-group">
      <label for="event-time">Time</label>
      <input type="text" name="time" class="form-control" id="event-time">
    </div>

    <div class="form-group">
      <label for="event-location">Location</label>
      <input type="text" name="loc" class="form-control" id="event-location">
    </div>

    <div class="form-group">
      <label for="event-price">Price</label>
      <input type="text" name="price" class="form-control" id="event-price">
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
