<header>
  <div class="section header">
    <h1>WanderList</h1>
  </div>

  <div class="section second">
    <div class="section left">
      <ul>
        <li class="list-item-img"><img src="../img/eric.jpg" alt="eric-face" class="eric-face"></li>
        <li class="list-item-img"><img src="../img/ben.jpg" alt="ben-face" class="ben-face"></li>
        <li class="list-item-img"><img src="../img/will.jpg" alt="will-face" class="will-face"></li>
        <li class="list-item-img"><img src="../img/bev.jpg" alt="bev-face" class="bev-face"></li>
    </ul>
    </div>

    <div class="section right">
      <div class="section reviews">
        <ul>
          <li class="list-item item1">
            <p>Omg this is one of the best things I've ever used in my life.</p>
            <p style="display: flex;justify-content: flex-end;">- Eric</p>
          </li>
          <li class="list-item item2">
            <p>After chancing upon this website, it has changed my life.</p>
            <p style="display: flex;justify-content: flex-end;">- Benjamin</p>
          </li>
          <li class="list-item item3">
            <p>Great features, easy to use and much quality.</p>
            <p style="display: flex;justify-content: flex-end;">- Will</p>
          </li>
          <li class="list-item item4">
            <p>This website saved my grandmother's life.</p>
            <p style="display: flex;justify-content: flex-end;">- Beverly</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
