<header>
  <div class="section header">
    <h1>WanderList</h1>
  </div>

  <div class="section second">
    <div class="section left">
      <h2>This should be on the left</h2>
    </div>

    <div class="section right">
      <div class="section reviews">
        <ul>
          <li class="list-item">
            <p>Omg this is one of the best things I've ever used in my life.</p>
            <p>- Eric</p>
          </li>
          <li class="list-item">
            <p>After chancing upon this website, it has changed my life.</p>
            <p>- Benjamin</p>
          </li>
          <li class="list-item">
            <p>Great features, easy to use and much quality.</p>
            <p>- Will</p>
          </li>
          <li class="list-item">
            <p>This website saved my grandmother's life.</p>
            <p>- Beverly</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
