.login {
  display: flex;
  align-items: center;
}

.login-label {
  display: flex;
  justify-content: center;
}

.submit-button {
  background-color: #CC3333 !important;
  border-color: #CC3333;
  font-family: 'Josefin Sans';
  margin-bottom: 30px;
}

.section.header {
  position: relative;
  background: #5C97FF;
  overflow: hidden;
}

::placeholder {
  font-family: trueno;
}

.section.header:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;

  padding: 200px;
  background-image: url("../img/landing-page-background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.section.header h1 {
  padding: 200px;
  text-align: center;
  z-index: 2;
  position: relative;

  color: white;
  font-family: Lobster;
  font-size: 80px;
  letter-spacing: 5px;
}

.left-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  height: 40px;
  width: 40px;
  margin-left: -5px;
  background-color: #f8f9fa;
  background-blend-mode: screen;
  border-radius: 50%;
}

.navbar-brand {
  font-family: 'Markazi Text' !important;
  font-size: 30px !important;
  margin-left: 10px;
}

.navbar-text {
  font-family: 'Markazi Text' !important;
  font-size: 25px !important;
}

.section.second {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 100px 0;
}

li.list-item {
  padding: 30px 100px;
  margin: 10px;
  list-style-type: none;
  border-radius: 25px;
  font-family: trueno;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

li.item1, li.item3 {
  border: 1px solid #CC3333;
  background-color: #CC3333;
  color: white;
}

li.item2, li.item4 {
  border: 1px solid #FFCC00;
  background-color: #FFCC00;
  color: black;
}

li.list-item-img {
  list-style-type: none;
  margin: 10px 0 15px 80px;
}

.section.left {
  flex-direction: column;
  justify-content: center;
}

.section.left img {
  height: 150px;
  width: 150px;
}

h2 {
  text-align: center;
  font-family: 'Slabo 27px';
  font-size: 50px;
  font-weight: bold;
  padding: 30px 0 10px 0;
}

.section.alltrips {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.trips-body, .events-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.trips.summary, .events.summary {
  border: 1px solid black;
  border-radius: 5px;
  border: 2px solid #CC3333;
  background-color: #CC3333;
  padding: 10px 0;
  margin: 2%;
  height: 11em;
  width: 25%;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h3.trips-name {
  font-family: Bitter;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 40px;
}

h3.event-name {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 30px;
}

a.trips-link, .event-stuff {
  font-family: 'Josefin Sans';
  font-size: 18px;
}

.eventstuff {
  margin: 1px;
}

a.trips-link:visited {
  color: #FFCC00 !important;
}
a.trips-link:link {
  color: #FFCC00;
}
a.trips-link:active {
  color: green;
}
a.trips-link:hover {
  color: white !important;
  text-decoration: none;
}

#btn-newtrip, a.addevent {
  border-color: #FFCC00;
  background-color: #FFCC00;
  color: black;
  font-family: 'Josefin Sans';
  margin-bottom:10px;
}

#btn-newtrip:hover,
a.addevent:hover {
  color: white;
}

#trip-title, #trip-share,
.newevent,
#user-username, #user-password {
  font-family: 'Lato';
  font-size: 20px;
}

h3 {
  font-family: 'Josefin Sans';
}
