<form action="/users" method="post">

<div class="container-fluid section header">
    <div class="signup-content">
        <h2 class="login-label">Sign up</h2>

        <div class="form-group">
        <input type="text" style="width:60%; margin: auto; margin-bottom: 15px" name="username" class="form-control" id="user-username" placeholder="Username" maxlength="45" autocomplete="off">

        <input type="password" style="width:60%; margin: auto" id="user-password" name="password" class="form-control" placeholder="Password" autocomplete="off">
        </div>

        <div class="text-center">
          <button type="submit" class="btn submit-button btn-primary">Create a new account</button>
        </div>
    </div>
</div>

</form>
