<h1> My Trips </h1>

<div class="trips-body">
  {{#each trips}}
      <div class="col-12 col-md-6 col-lg-4">
          <div class="trips summary">
              <div class="card-header text-muted">
                  Trip Location Name
              </div>
              <div class="card-body">
                  <h4 class="card-title">Possibly the location</h4>
                  <p class="card-text">Possibly the dates</p>
                  <a class="card-link" href="/trips/{{this._id}}">Read More</a>
              </div>
          </div>
      </div>
  {{/each}}
</div>
