<header>
  <h2> My Trips </h2>
</header>

<div class="section alltrips">
  <a href="/trips/new" class="btn btn-default" id="btn-newtrip">
    Create a new trip!
  </a>

  <div class="trips-body">
    {{#each trips}}
      <div class="content trips summary">
        <h3 class="trips-name">{{this.name}}</h3>
        <!-- <p class="trips-events">{{this.events}}</p> -->
        <a class="trips-link" href="/trips/{{this._id}}">Read More</a>
        <form class="form" method="POST" action="/trips?_method=DELETE">
          <input style="visibility: hidden; margin:-90px;" name="delete_id" value="{{this._id}}">
          <button id="trash" type="submit"><i class="fa fa-trash"></i></button>
        </form>
      </div>
    {{/each}}

  </div>
</div>
