<h1> My Trips </h1>

<div class="trips-body">
  {{#each trips}}
      <div class="col-12 col-md-6 col-lg-4">
          <div class="trips summary">
              <div class="card-header text-muted">
                  THIS IS A TRIP
              </div>
              <div class="card-body">
                  <h4 class="card-title">{{this.name}}</h4>
                  <h3 class="card-title">{{this.desc}}</h3>
                  <p class="card-text">{{this.events}}</p>
                  <a class="card-link" href="/trips/{{this._id}}">Read More</a>
              </div>
          </div>
      </div>
  {{/each}}
</div>
