<header>
  <h2> My Trips </h2>
</header>

<div class="section alltrips">
  <a href="/trips/new" class="btn btn-default" id="btn-newtrip">
    Create a new trip!
  </a>

  <div class="trips-body">
    {{#each trips as |trip|}}
    <div class="trips summary">
      <h3 class="trips-name">{{trip.name}}</h3>
      {{#each events as |event|}}
      <p>
        {{event.name}}
      </p>
      {{/each}}

      <a class="trips-link" href="/trips/{{this._id}}">My Events</a>
      <form class="form" method="POST" action="/trips?_method=DELETE">
        <input style="visibility: hidden; margin:-90px;" name="delete_id" value="{{this._id}}" >
        <button class="btn" id="trash" Onclick="return confirm('Are you sure you want to delete this trip?');"><i class="fa fa-trash"></i> </button>
      </form>
    </div>
    {{/each}}
  </div>

</div>
