<div class="container">
  <div class="row align-items-center justify-content-center ">
    <div class = "col-12 col-md-8 col-lg-4">
      <form action="/trips" method="post">
        <h2 class="login-label">New Trip</h2>

        <div class="form-group">
          <label for="trip-title" id="trip-title">Trip Name</label>
          <input type="text" name="name" class="form-control" placeholder="e.g. Japan">
        </div>

        <div class="form-group">
          <label for="trip-share" id="trip-share">Share with</label>
          <input type="text" name="share" class="form-control">
        </div>

        <div class="text-center">
          <button type="submit" class="btn submit-button btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
