<form action="/trips" method="post">

  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <div class="new-trip-content section trip-header">
          <h2 class="login-label">New Trip</h2>

          <div class="new-trip-stuff">
            <div class="form-group">
              <label for="trip-title" id="trip-title">Trip Name</label>
              <input type="text" name="name" class="form-control" placeholder="e.g. Japan" required minlength="1" maxlength="44" autocomplete="off">
            </div>
            
            <div class="trip-duration">
              <div class="form-group">
                <label for="trip-duration" id="trip-duration">Trip Duration</label>
                <input type="date" name="datefrom" class="form-control" style="font-family: trueno" id="date1">
                <label class="small-to text-center">to</label>
                <input type="date" name="dateto" class="form-control" style="font-family: trueno" id="date2">
              </div>
            </div>

            <div class="form-group">
              <label for="trip-share" id="trip-share">Share this trip with:</label>
              <input type="text" name="share" class="form-control" placeholder="johndoe123" autocomplete="off">
            </div>

            <div class="text-center">
              <button type="submit" class="btn submit-button btn-primary">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
