<div>
  <form action="/trips" method="post">

    <legend>New Trip</legend>

    <div class="form-group">
      <label for="trip-title">Trip Name</label>
      <input type="text" name="name" class="form-control" id="trip-title" placeholder="e.g. Japan">
    </div>

    <div class="form-group">
      <label for="trip-body">Trip Body</label>
      <input type="text" name="desc" class="form-control" id="trip-body">
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
