<h1> Trip name </h1>

<div class="events-body">
  {{#each events}}
      <div class="col-12 col-md-6 col-lg-4">
          <div class="events">
              <div class="card-header text-muted">
                  THIS IS A TRIP
              </div>
              <div class="card-body">
                  <h4 class="card-title">{{trips.name}}</h4>
                  <h3 class="card-title">{{trips.desc}}</h3>
                  <p class="card-text">{{trips.events}}</p>
                  <a class="card-link" href="/trips/{{this._id}}">Read More</a>
              </div>
          </div>
      </div>
  {{/each}}
</div>
